/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #6a7f3d; /* Rich green */
  --secondary-color: #034c3c; /* Deep moss green */
  --background-color: #e6fbe8; /* Soft light green */
  --text-color: #333;
  --white-color: #fff;
  --border-color: #ccc;
  --highlight-color: #81c0b1; /* Soft sky blue */
}
html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--highlight-color)
  );
  background-size: 100% 100%;
  animation: gradientAnimation 5s ease infinite;
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  /* padding: 0 20px; */
  display: flex;
  flex-direction: column;
}
h2,
h3 {
  color: var(--text-color);
}

/* Header */
header {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 20px;
}

/* Main Content */
main {
  max-width: 100%;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.section {
  margin-bottom: 40px;
}
.project-logo {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}
.project-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.project-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.project-card {
  background: transparent;
  border: 2px solid var(--white-color);
  border-radius: 5px;
  padding: 10px;
  width: 45%;
  cursor: pointer;
  transition: transform 0.2s;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card img {
  width: 30%;
  height: auto;
  border-radius: 5px;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  position: relative;
  overflow: hidden;
}
.modal-header {
  display: flex;
  justify-content: center;
}
.modal-header button {
  position: absolute;
  left: 20px;
  top: 20px;
}
.modal-header h3 {
  font-size: 3em;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Footer  NEED to decide on better color combo*/
footer {
  text-align: center;
  padding: 10px;
  background-color: transparent;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}
/*Home page!*/
.home-intro {
  font-size: xx-large;
}
/*About me page!*/
.intro img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/*The carousel stylings*/
.carousel {
  position: relative;
  width: 100%;
  height: 710px;
  margin: auto;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
}

.carousel-slide img {
  /* display: none; */
  width: 100%;
  height: auto;
}

.visible img {
  display: block;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

/* Mobile Compatibility */
@media (max-width: 768px) {
  .carousel_button {
    padding: 10px; /* Smaller button size for mobile */
  }

  .carousel_button.prev {
    left: 5px; /* Adjust position for smaller screens */
  }

  .carousel_button.next {
    right: 5px; /* Adjust position for smaller screens */
  }
}
.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  transform: scale(1.1);
  transition: 2ms;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--text-color);
}
.contact-form-container {
  width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--white-color);
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--highlight-color)
  );
}

.contact-form h2 {
  text-align: center;
  color: var(--secondary-color);
}

.contact-form div {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  color: var(--white-color);
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--primary-color);
}
.message {
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.contact-title {
  text-align: center;
  padding-top: 10px;
  font-size: xx-large;
  color: var(--white-color);
}
.contact-subtitle {
  text-align: center;
}
/* General Styles */

header {
  position: sticky;
  top: 0;
  background: transparent;
  padding: 20px 40px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
}

nav ul li a {
  font-weight: bold;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  color: var(--background-color);
  text-decoration: none;
}
nav ul li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
nav ul li {
  margin: 0 15px;
}
.home-intro {
  text-align: center;
  padding: 100px 20px;

  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  color: var(--white-color);
}

.home-intro h1 {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  color: var(--white-color);
}

.artistic-background {
  background-image: url("images/mountains.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 15px;
  margin-top: 30px;
}

#projects-preview {
  margin-top: 50px;
  text-align: center;
  color: var(--text-color);
}

#projects-preview h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.project-carousel {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
}

/* Interactive Elements */

.home-intro p {
  font-size: 1.5rem;
  color: var(--background-color);
  margin-top: 20px;
}
/* Shadow when hover */
.home-intro:hover,
.project-carousel:hover {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

/* Buttons/Links */
a {
  font-weight: bold;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  color: var(--background-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

a.button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: var(--secondary-color);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.content-text {
  padding: 10px;
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--highlight-color)
  );
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--white-color);
  font-size: larger;
}

.content-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .content-section {
    grid-template-columns: 1fr;
  }
}
.text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-container p {
  flex: 1 1 45%; /* Each paragraph takes up approximately half the container width */
  margin: 0;
}

section {
  max-width: 800px;
  margin: auto;
}
