/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #20863d;
  --secondary-color: #034c3c;
  --background-color: #e6fbe8;
  --text-color: #333;
  --white-color: #fff;
  --border-color: #ccc;
}
html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  /* padding: 0 20px; */
  display: flex;
  flex-direction: column;
}
h2,
h3 {
  color: var(--text-color);
}

/* Header */
header {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 20px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: var(--background-color);
  text-decoration: none;
}

/* Main Content */
main {
  max-width: 100%;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.section {
  margin-bottom: 40px;
}
.project-logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}
.project-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.project-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.project-card {
  background-color: var(--white-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 45%;
  cursor: pointer;
  transition: transform 0.2s;
}
.project-card:hover {
  transform: scale(1.05);
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  position: relative;
  overflow: hidden;
}
.modal-header {
  display: flex;
  justify-content: center;
}
.modal-header button {
  position: absolute;
  left: 20px;
  top: 20px;
}
.modal-header h3 {
  font-size: 3em;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
}
/*Home page!*/
.home-intro {
  font-size: xx-large;
}
/*About me page!*/
.intro img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/*The carousel stylings*/
.carousel {
  position: relative;
  width: 100%;
  height: 710px;
  margin: auto;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
}

.carousel-slide img {
  /* display: none; */
  width: 100%;
  height: auto;
}

.visible img {
  display: block;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel_button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
}

/* Mobile Compatibility */
@media (max-width: 768px) {
  .carousel_button {
    padding: 10px; /* Smaller button size for mobile */
  }

  .carousel_button.prev {
    left: 5px; /* Adjust position for smaller screens */
  }

  .carousel_button.next {
    right: 5px; /* Adjust position for smaller screens */
  }
}
.contact-form-container {
  width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--white-color);
}

.contact-form h2 {
  text-align: center;
  color: #034c3c;
}

.contact-form div {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--primary-color);
}
