/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #6a7f3d; /* Rich green */
  --secondary-color: #034c3c; /* Deep moss green */
  --background-color: #e6fbe8; /* Soft light green */
  --text-color: #333;
  --white-color: #fff;
  --border-color: #ccc;
  --highlight-color: #81c0b1; /* Soft sky blue */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --title: 4em;
  --subtitle: 2em;
  --body: 1.1em;
  --button: 2rem;
}
html,
body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--highlight-color)
  );
  background-size: 100% 100%;
  color: var(--white-color);
  font-size: var(--body);
  animation: gradientAnimation 5s ease infinite;
  line-height: 1.6;
  background-color: var(--background-color);
  /* padding: 0 20px; */
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 20px;
}
.main-header {
  background: linear-gradient(
    120deg,
    rgba(106, 127, 61, 0.5),
    rgba(129, 192, 177, 0.5)
  ); /* Sheer gradient background */
  backdrop-filter: blur(10px); /* Blur effect */
  margin-bottom: 20px;
}
/* Main Content */
main {
  max-width: 100%;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.section {
  margin-bottom: 40px;
}
.project-logo {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}
.project-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--subtitle);
}
.project-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allows wrapping when space is limited */
  padding-top: 20px;
}
.project-card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  flex: 1 1 calc(33.333% - 10px); /* Three cards per row with spacing */
  max-width: calc(33.333% - 10px);
  cursor: pointer;
  transition: transform 0.2s;
  margin: 5px;
}

@media (max-width: 768px) {
  .project-card {
    flex: 1 1 calc(100% - 10px); /* Stack cards in mobile view */
    max-width: calc(100% - 10px);
    min-width: 300px; /* Prevent excessive shrinkage */
  }
}

.project-card:hover {
  transform: scale(1.05);
}
.project-card img {
  width: 30%;
  height: auto;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: transparent;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}
footer a:hover {
  color: var(--secondary-color);
}
/*Home page!*/
.home-intro h3 {
  font-size: var(--subtitle);
}

/*About me page!*/
.intro img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/*The carousel stylings*/
.carousel {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  /* border: 1px solid var(--border-color); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  height: 100%;
}

.carousel-slide img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.visible img {
  display: block;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  margin: 10px 0;
}

/* Mobile Compatibility */
@media (max-width: 768px) {
  .carousel_button {
    padding: 10px; /* Smaller button size for mobile */
  }

  .carousel_button.prev {
    left: 5px; /* Adjust position for smaller screens */
  }

  .carousel_button.next {
    right: 5px; /* Adjust position for smaller screens */
  }
}
.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: var(--button);
  cursor: pointer;
}
.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  transform: scale(1.1);
  transition: 2ms;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--text-color);
}
.contact-form-container {
  width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--white-color);
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--highlight-color)
  );
}

/* .contact-form h3 {
  text-align: center;
  font-size: var(--body);
} */

.contact-form div {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--body);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  color: var(--white-color);
  font-size: var(--body);
  cursor: pointer;
  height: 50px;
}

.contact-form button:hover {
  background-color: var(--primary-color);
}
.message {
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.contact-title {
  text-align: center;
  padding-top: 10px;
  font-size: var(--subtitle);
  color: var(--white-color);
  font-family: var(--secondary-font);
  width: 800px;
}
.contact-subtitle {
  text-align: center;
}
/* General Styles */
.icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  color: var(--white-color);
}
.contact-subtitle a {
  margin-right: 10px;
}
header {
  position: sticky;
  top: 0;
  padding: 20px 40px;
}
.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 60px;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  padding: 0;
}

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show hamburger */
  }
  .navbar {
    justify-content: right;
    position: relative;
  }
  .nav-links {
    display: none; /* Hide links by default */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: linear-gradient(
      120deg,
      rgba(106, 127, 61, 0.8),
      rgba(129, 192, 177, 0.5)
    );
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
  }

  .nav-links.active {
    display: flex; /* Show when active */
  }
}

nav ul li a {
  font-weight: bold;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  color: var(--background-color);
  text-decoration: none;
}
nav ul li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
nav ul li {
  margin: 0 15px;
}
.home-intro {
  text-align: center;
  padding: 100px 20px;

  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  color: var(--white-color);
}

.home-intro h1 {
  font-size: var(--title);
  font-family: var(--secondary-font);
  color: var(--white-color);
}

.artistic-background {
  background-image: url("images/mountains.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 15px;
  margin-top: 30px;
}

#projects-preview {
  margin-top: 50px;
  text-align: center;
  color: var(--white-color);
}

#projects-preview h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--white-color);
}

.project-carousel {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
}
.project-details {
  color: var(--white-color);
  font-size: var(--body);
}
.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: var(--secondary-font);
}
/* Interactive Elements */

.home-intro p {
  font-size: var(--body);
  color: var(--background-color);
  margin-top: 20px;
}
/* Shadow when hover */
.home-intro:hover,
.project-carousel:hover {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

/* Buttons/Links */
a {
  font-weight: bold;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  color: var(--background-color);
  text-decoration: none;
}
a:hover {
  /* color: var(--secondary-color); */
  text-decoration: underline;
}

a.button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: var(--secondary-color);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.content-text {
  padding: 10px;
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--highlight-color)
  );
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--white-color);
}

.content-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .content-section {
    grid-template-columns: 1fr;
  }
}
.text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-container p {
  flex: 1 1 45%; /* Each paragraph takes up approximately half the container width */
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  max-width: 800px;
  margin: auto;
}
.grid .column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subpages {
  max-width: 800px;
  margin: auto;
}
.content-text ul {
  list-style-type: disc; /* Ensures proper bullet points */
  padding-left: 20px; /* Indent bullets inside box */
  margin: 0; /* Remove unwanted extra spacing */
}

.content-text li {
  margin-bottom: 5px; /* Space between list items */
}
